.call-to-action {
  width: 100%;
  gap: var(--pad-xl);
  box-shadow: var(--box-shadow);
  padding: var(--pad-xl);
  border-radius: 4px;
  background-color: var(--color-surface);

  &.col {
    @media only screen and (min-width: '1200px') {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  button {
    margin-top: var(--pad-xl);
    width: 100%;
  }
}