.accommodation-details-comp {
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--corner-radius);
    position: relative;
  }

  .content {
    .actions {
      position: absolute;
      top: var(--pad-xl);
      right: var(--pad-xl);
    }

    .availability-list {
      gap: var(--pad-sm);
    }
  }
}