.travel-dashboard-page {
  .page-container {
    align-items: flex-start;
    gap: var(--pad-lg);
    
    .content {
      gap: var(--pad-lg);
  
      .filter {
        gap: var(--pad-lg);

        select {
          flex: 1;
        }
      }
      
      .bookings-list { 
        gap: var(--pad-xs);
  
        .booking-cell {
          justify-content: space-between;
          padding: var(--pad-xs) var(--pad-sm);
          background-color: var(--color-neutral);
          border-radius: var(--corner-radius);
        }
      }
    }
  }
}