.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pad-sm) var(--pad);
  width: 100%;
  
  ul {
    display: flex;
    flex-direction: row;
    gap: var(--pad-xl);

    .link {
      margin-top: 2px;
    }
  }
  
  p {
    color: var(--color-primary);
  }
}