.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--navigation-height);
  padding: 0 var(--pad-xl);
  background-color: var(--color-background);

  .logo {
    font-size: 36px;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    gap: var(--pad-xl);

    .link {
      margin-top: 2px;
    }
  }
  
  p {
    color: var(--color-primary);
  }
}