@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-primary: rgb(189, 42, 23);
  --color-primary-dark: rgb(156, 33, 17);
  --color-transparent-red: rgba(189, 42, 23, 0.4);
  --color-transparent-dark: rgba(0, 0, 0, 0.4);
  
  --pad-xs: 4px;
  --pad-sm: 8px;
  --pad: 16px;
  --pad-lg: 24px;
  --pad-xl: 36px;

  --title: 80px;
  --body-lg: 18px;
  --body: 14px;
  --body-sm: 11px;

  --navigation-height: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', Arial, Helvetica, sans-serif, sans-serif;
  color: black;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  }
  
  p, a {
    font-size: var(--body);
  }
  
  a {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--color-primary);
  
    &:hover {
      color: var(--color-primary-dark);
    }
  }

  ul {
    list-style: none;
  }

  button {
    font-family: 'Inter', Arial, Helvetica, sans-serif, sans-serif;
    background-color: var(--color-primary);
    color: white;
    padding: var(--pad);
    border: none;
    border-radius: 4px;
    min-width: 150px;

    &.small-btn {
      padding: var(--pad-xs) var(--pad);
      min-width: 80px;
    }

    &:hover {
      background-color: var(--color-primary-dark);
      cursor: pointer;
    }
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    gap: var(--pad);
  }

  .page-container {
    display: flex;
    flex-direction: column;
    padding: var(--pad-xl);
    gap: var(--pad-xl);
    width: 80vw;
  }
}
