.button {
  background-color: var(--color-primary);
  color: white;
  padding: var(--pad);
  border: none;
  border-radius: 4px;
  font-size: var(--body);
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 300px;
  height: var(--navigation-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-wrap: nowrap;

  &:hover {
    background-color: var(--color-primary-dark);
    cursor: pointer;
  }
  
  &.inverted {
    color: var(--color-primary);
    background-color: var(--color-neutral);
    
    &:hover {
      background-color: var(--color-neutral-dark);
      cursor: pointer;
    }

    &.border {
      border: 2px solid var(--color-neutral-dark);
    }
  }
  
  &.backgroundless {
    color: var(--color-primary);
    background: none;

    &:hover {
      color: var(--color-primary-dark);
      cursor: pointer;
    }
  }
  
  &.border {
    border: 2px solid var(--color-primary-dark);
  }

  &.short {
    height: 24px;
    padding: 0 var(--pad-sm);
  }

  &.small {
    font-size: var(--body-sm);
  }

  .icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  var(--icon-size);
    margin-top: var(--pad-xs);
  }
  
  .small-icon svg {
    font-size: var(--icon-size-sm);
  }
}