.dining-page {
  align-items: center;
  justify-content: center;
  margin: auto;

  .page-container {
    .restaurants-container {
      gap: var(--pad-lg);
      flex-wrap: wrap;

      @media only screen and (min-width: '800px') {
        flex-direction: row;
      }
    }
  }
}