.transportation-page {
  .page-container {
    justify-content: center;
    margin: auto;
    
    .two-column-container {
      gap: var(--page-gap);
      
      @media only screen and (min-width: '1000px') {
        flex-direction: row;
      }
    }
    
    .map {
      border-radius: 50%;
      width: 350px;
      margin: auto;
      margin-top: var(--pad-xl);
    }
  }
}