.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 16px 48px;
  background-color: var(--color-secondary);
  width: 100vw;
  
  .subtitle {
    text-align: left;
    color: white;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--pad-xs);

    a {
      font-family: 'Inter';
      font-size: var(--body-sm);
      font-weight: 400;
      color: var(--color-surface);
  
      &:hover {
        color: var(--color-background);
      }
    }
  }
}