@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-primary: rgb(189, 42, 23);
  --color-primary-dark: rgb(156, 33, 17);
  --color-secondary: rgb(90, 95, 77);
  --color-background: rgb(255, 246, 235);
  --color-surface: rgb(255, 253, 250);
  --color-neutral: rgb(218, 218, 218);
  --color-transparent-red: rgba(189, 42, 23, 0.25);
  --color-transparent-dark: rgba(0, 0, 0, 0.4);
  
  --pad-xs: 4px;
  --pad-sm: 8px;
  --pad: 16px;
  --pad-lg: 24px;
  --pad-xl: 36px;

  --title: 80px;
  --body-lg: 20px;
  --body: 16px;
  --body-sm: 12px;

  --page-gap: 60px;
  --navigation-height: 55px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--color-transparent-red) var(--color-background);
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', Arial, Helvetica, sans-serif, sans-serif;
  color: black;
  background: var(--color-background);

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  }
  
  p, a {
    font-size: var(--body);
  }

  p {
    line-height: 1.4;
  }
  
  a {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--color-primary);
  
    &:hover {
      color: var(--color-primary-dark);
    }
  }

  ul {
    list-style: none;
  }

  input[type='text'], 
  input[type='email'], 
  input[type='password'], 
  textarea {
    border: 1px solid gray;
    border-radius: 4px;
    padding: var(--pad-sm);
  }
  
  .row {
    display: flex;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    gap: var(--pad);
  }

  .page-container {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    gap: var(--page-gap);
    width: 95vw;

    @media only screen and (min-width: '500px') {
      width: 90vw;
    }

    @media only screen and (min-width: '800px') {
      width: 80vw;
    }

    @media only screen and (min-width: '1000px') {
      width: 70vw;
    }

    @media only screen and (min-width: '1400px') {
      width: 60vw;
    }
  }

  .emphasized-large {
    font-style: italic;
    font-size: 24px;
  }

  .emphasized-small {
    font-weight: 600;
    font-size: var(--body-lg);
  }

  .subtitle {
    font-size: var(--body-sm);
    color: rgb(82, 82, 82);
  }

  .form {
    gap: var(--pad);
    top: 50%;
    left: 50%;
    padding: var(--pad-xl);
    border-radius: 4px;
    background-color: var(--color-surface);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  
    .col { gap: var(--pad-sm); }
  
    .button-row {
      margin: var(--pad-sm) 0;
      gap: var(--pad-sm);
  
      .cancel-button {
        background-color: var(--color-surface);
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
        
        &:hover {
          background-color: var(--color-background);
          border: 2px solid var(--color-primary-dark);
          color: var(--color-primary-dark);
        }
      }
    }
  }
  
}
