@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-primary: rgb(189, 42, 23);
  --color-primary-dark: rgb(156, 33, 17);
  --color-on-primary: white;
  --color-secondary: rgb(90, 95, 77);
  --color-background: rgb(255, 246, 235);
  --color-surface: rgb(255, 253, 250);
  --color-neutral:  rgb(250, 239, 225);
  --color-neutral-dark:  rgb(241, 229, 214);
  --color-transparent-red: rgba(189, 42, 23, 0.25);
  --color-transparent-dark: rgba(0, 0, 0, 0.4);
  --color-shadow: rgba(0, 0, 0, 0.24);
  
  --box-shadow: 0px 1px 20px var(--color-shadow);

  --pad-xs: 4px;
  --pad-sm: 8px;
  --pad: 16px;
  --pad-lg: 24px;
  --pad-xl: 36px;

  --title: 56px;
  --body-lg: 20px;
  --body: 16px;
  --body-sm: 12px;

  --page-gap: 60px;
  --navigation-height: 55px;
  --corner-radius: 4px;
  --icon-size: 36px;
  --icon-size-sm: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--color-transparent-red) var(--color-background);
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', Arial, Helvetica, sans-serif, sans-serif;
  color: black;
  background: var(--color-background);

  h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  }

  p, a {
    font-size: var(--body);
  }

  p {
    line-height: 1.4;
  }
  
  a {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--color-primary);
  
    &:hover {
      color: var(--color-primary-dark);
    }
  }

  ul {
    list-style: none;
  }

  input[type='text'], 
  input[type='email'], 
  input[type='password'], 
  input[type='number'], 
  input[type='url'], 
  input[type='date'], 
  input[type='time'], 
  input[type='datetime-local'], 
  select,
  textarea {
    border: 1px solid gray;
    border-radius: 4px;
    padding: var(--pad-sm);
    font-family: 'Inter', Arial, Helvetica, sans-serif, sans-serif;
  }
  
  .row {
    display: flex;
    align-items: center;
    gap: var(--pad-sm);
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    gap: var(--pad);
  }

  .page-container {
    display: flex;
    flex-direction: column;
    padding: calc(var(--navigation-height) + var(--pad)) var(--pad);
    gap: var(--page-gap);
    width: 95vw;

    @media only screen and (min-width: '500px') {
      width: 90vw;
    }

    @media only screen and (min-width: '800px') {
      width: 80vw;
    }

    @media only screen and (min-width: '1000px') {
      width: 70vw;
    }

    @media only screen and (min-width: '1400px') {
      width: 60vw;
    }
  }

  .emphasized-large {
    font-style: italic;
    font-size: 24px;
  }

  .emphasized-small {
    font-weight: 600;
    font-size: var(--body-lg);
  }

  .subtitle {
    font-size: var(--body-sm);
    color: rgb(82, 82, 82);
  }
  
  form, .details {
    display: flex;
    flex-direction: column;
    gap: var(--pad);
    top: 50%;
    left: 50%;
    padding: var(--pad-lg);
    border-radius: 4px;
    background-color: var(--color-surface);
    box-shadow: var(--box-shadow);
  
    .content {
      display: flex;
      flex-direction: column;
      gap: var(--pad);
    }
  
    .section { 
      display: flex;
      flex-direction: column;
      gap: var(--pad-xs); 
    }
  }

  .divider {
    height: 2px;
    width: 100%;
    background: var(--color-secondary);
    margin: var(--pad) 0;
    border-radius: 50%;
  }
}
