.carousel {
  position: relative;
  display: flex;
  width: 100vw;
  height: 80vh;
  overflow: hidden;

  h1 {
    position: absolute;
    inset: 0;
    height: fit-content;
    margin: auto;
    z-index: 200;
    color: white;
    font-size: var(--title);
    text-align: center;
    text-transform: lowercase;
  }

  button {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;
  }

  .description {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 200;
    background: var(--color-transparent-dark);
    border-radius: 4px;
    padding: var(--pad-sm) var(--pad);
    color: white;
    font-size: var(--body-sm);
  }

  .indicators-container {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--pad);

    .indicator {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.514);
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: white;
      }

      &.active {
        background-color: white;
      }

      @media only screen and (max-width: 830px) {
        width: 4px;
        height: 4px;
      }
    }
  }

  .color-overlay {
    position: absolute;
    inset: 0;
    z-index: 100;
    background-color: var(--color-transparent-red);
  }

  .carousel-items {
    display: flex;
    z-index: 0;
    transition: transform 0.5s ease-in-out;

    .carousel-item {
      width: 100vw;
      height: var(--carousel-height);
      display: flex;
      justify-content: center;
      align-items: center;

      .image-container {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center 75%;
        }
      }
    }
  }
}