.landing-page {
  .page-container {
    gap: var(--pad-lg);

    .featured-items-container {
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: var(--pad-xl);
      
      .featured-item {
        align-items: center;
        gap: var(--pad);
        
          img {
            width: 200px;
          }
  
          a {
            font-size: var(--body-lg);
          }
      }
    }

  }
}