.landing-page {
  .page-container {
    align-items: center;
    justify-content: center;
    margin: auto;

    .featured-items-container {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;

      @media only screen and (min-width: '800px') {
        gap: 60px;
      }
      
      .featured-item {
        align-items: center;
        gap: var(--pad);

          img {
            width: 200px;
          }
  
          a {
            font-size: var(--body-lg);
          }
      }
    }
  }
}