.lodging-page {
  align-items: center;
  justify-content: center;
  margin: auto;
  
  .page-container {
    .hotels-container {
      gap: var(--pad-lg);
      flex-wrap: wrap;

      @media only screen and (min-width: '800px') {
        flex-direction: row;
      }
    }
  }
}
