.activities-page {
  align-items: center;
  justify-content: center;
  margin: auto;

  .section {
    gap: var(--pad-xl);
    align-items: center;

    @media only screen and (min-width: '800px') {
      flex-direction: row;
    }

    &.reverse {
      @media only screen and (min-width: '800px') {
        flex-direction: row-reverse;
      }
    }

    img {
      min-width: 200px;
      border-radius: 4px;
    }
  }
}